@charset "UTF-8";
@font-face {
  font-family: Shriklhand-R;
  src: url("fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto-R;
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-B;
  src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-T;
  src: url("fonts/Roboto-Thin.ttf");
}
/* Général style */
body {
  /*  width: 360px; */
  margin: 0;
  padding: 0;
  font-family: Roboto-R;
}

.page-wrapper {
  min-width: 360px;
  margin: 0 auto;
}

.responsive__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logodiv__title {
  font-family: Shriklhand-R;
}

.header__logodiv,
.section__localization,
.section__catchphrase,
.element__guidelines {
  text-align: center;
}

.aside__title,
.section__restaurant--title {
  font-size: 26px;
  font-family: Roboto-B;
  margin: 30px 0 30px 10px;
}

/* header, sections, aside, footer styles */
header {
  max-width: 100%;
  min-width: 360px;
  height: 60px;
  border-bottom: solid 3px #d6cece;
}

/* Localization section */
.section__localization {
  background-color: #eaeaea;
  width: 100%;
  min-width: 360px;
  height: 50px;
}

.form__localization {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}
.form__localization .localization__btn,
.form__localization .localization__field {
  border: none;
  background-color: #eaeaea;
}

/* Catchphrase & submit btn */
.section__catchphrase {
  max-width: 100%;
  min-width: 360px;
  background-color: #f6f6f6;
  padding: 25px 0;
  margin: 0 0 35px 0;
}
.section__catchphrase .catchphrase__h3 {
  font-family: Roboto-T;
}

.submit__btn {
  width: 200px;
  height: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 20px;
  color: white;
}

/* Guidelines elements styles */
.element__guidelines,
.restaurant__box {
  box-shadow: 5px 5px 5px lightgray;
}

aside {
  max-width: 100%;
  min-width: 360px;
}

.element__guidelines {
  width: 90%;
  height: 100px;
  border-radius: 20px;
  margin: 20px 10px 0 20px;
  background-color: #faf8f81a;
  display: flex;
  justify-content: space-between;
}
.element__guidelines .guidelines__btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: #ff79da;
  color: white;
  font-weight: bolder;
  margin: 45px 0 0 0;
}
.element__guidelines .guidlines__icon {
  font-size: 1.5em;
  margin: 45px 10px 0 0;
}
.element__guidelines .guidelines__text {
  font-size: 1em;
  margin: 50px 50px 0 0;
}

/* Restaurant section */
.section__restaurants {
  background-color: #f6f6f6;
  min-width: 330px;
  max-width: 720px;
  max-height: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 60px 0 0 0;
  padding: 0 0 40px 0;
}

.article__box {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: 360px;
  height: 85%;
}

.restaurant__box {
  width: 330px;
  height: 260px;
  border-radius: 20px;
  margin: 0 0 20px 0;
}
.restaurant__box .fas,
.restaurant__box .fa-heart {
  font-size: 2em;
  margin: 0 25px 0 0;
  color: #9356dc;
}

.img__cover {
  width: 330px;
  height: 190px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15px;
  margin: 0;
}
.restaurant__description .restaurant__title {
  margin: 10px 0 3px 0;
  padding: 0;
  font-size: 20px;
  font-family: Roboto-B;
}
.restaurant__description .restaurant__place {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto-T;
}

.box__newtag {
  background: #99e2d0;
  color: gray;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 230px;
  left: 235px;
  z-index: 1;
}

footer {
  background-color: #3b3b3b;
  max-width: 100%;
  min-width: 330px;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 30px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  padding: 5px 0;
}

.img__restaurant {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
