@charset "UTF-8";
@font-face {
  font-family: Shriklhand-R;
  src: url("fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto-R;
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-B;
  src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-T;
  src: url("fonts/Roboto-Thin.ttf");
}
/* Général style */
body {
  min-width: 360px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: Roboto-R;
}

.body-for-menu {
  background-color: #f6f6f6;
}

.logodiv__title--menu {
  font-family: Shriklhand-R;
}

.page-wrapper {
  min-width: 360px;
  max-width: 1440px;
  margin: 0 auto;
}

.responsive__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logodiv__title {
  font-family: Shriklhand-R;
  margin-right: 40px;
}

.header__logodiv,
.section__localization,
.section__catchphrase,
.element__guidelines {
  text-align: center;
}

.aside__title,
.section__restaurant--title {
  font-size: 26px;
  font-family: Roboto-B;
  margin: 30px 0 30px 10px;
}

/* no color & underline links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.mail:link {
  color: white;
}

/* header, sections, aside, footer styles */
header {
  max-width: 100%;
  min-width: 360px;
  min-height: 60px;
  border-bottom: solid 3px #d6cece;
}

/* Localization section */
.section__localization {
  background-color: #eaeaea;
  width: 100%;
  min-width: 360px;
  height: 50px;
}

.form__localization {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}
.form__localization .localization__btn,
.form__localization .localization__field {
  border: none;
  background-color: #eaeaea;
}

/* Catchphrase & submit btn */
.section__catchphrase {
  max-width: 100%;
  min-width: 360px;
  background-color: #f6f6f6;
  padding: 25px 0;
  margin: 0 0 35px 0;
}
.section__catchphrase .catchphrase__h3 {
  font-family: Roboto-T;
}

.submit__btn {
  width: 200px;
  height: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 20px;
  color: white;
}

/* Guidelines elements styles */
.element__guidelines,
.restaurant__box {
  box-shadow: 5px 5px 5px lightgray;
}

.element__guidelines:hover,
.restaurant__box:hover,
.submit__btn:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px 6px lightgray;
}

aside {
  max-width: 100%;
  min-width: 360px;
}

.element__guidelines {
  width: 90%;
  height: 100px;
  border-radius: 20px;
  margin: 20px 10px 0 20px;
  background-color: #faf8f81a;
  display: flex;
  justify-content: space-between;
}
.element__guidelines .guidelines__btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: #ff79da;
  color: white;
  font-weight: bolder;
  margin: 45px 0 0 0;
}
.element__guidelines .guidlines__icon {
  font-size: 1.5em;
  margin: 45px 10px 0 0;
}
.element__guidelines .guidelines__text {
  font-size: 1em;
  margin: 50px 50px 0 0;
}

/* Restaurant section */
.section__restaurants {
  background-color: #f6f6f6;
  min-width: 330px;
  max-width: 720px;
  max-height: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 60px 0 0 0;
  padding: 0 0 40px 0;
}

.article__box {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: 360px;
  height: 85%;
}

.restaurant__box {
  width: 330px;
  height: 260px;
  border-radius: 20px;
  margin: 0 0 20px 0;
}

.far,
.fas:hover {
  color: #ff79da;
}

.fa-heart:hover {
  font-weight: 900;
  /* color: #ff79da; */
  transition: 2s;
}

.img__cover {
  width: 330px;
  height: 190px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15px;
  margin: 0;
}
.restaurant__description .restaurant__title {
  margin: 10px 0 3px 0;
  padding: 0;
  font-size: 20px;
  font-family: Roboto-B;
}
.restaurant__description .restaurant__place {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto-T;
}

.box__newtag {
  background: #99e2d0;
  color: gray;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 230px;
  left: 235px;
  z-index: 1;
}

footer {
  background-color: #3b3b3b;
  max-width: 100%;
  min-width: 330px;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 30px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  padding: 5px 0;
}

/* for menu pages */
/* .main__box {
  display: flex;
  flex-wrap: wrap;
} */
.header__menu {
  max-width: 100%;
  min-width: 360px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-arrow-left {
  font-size: 32px;
}

.img__restaurant {
  max-width: 100%;
  min-width: 360px;
  min-height: 350px;
  max-height: 100%;
}

.article__responsive {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main__box--menu {
  max-width: 100%;
  min-width: 360px;
  min-height: 350px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 60px;
  background-color: #f6f6f6;
}

.restaurant__title--box {
  max-width: 100%;
  min-width: 300px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  padding: 10px 0 0 20px;
}
.restaurant__title--box h2 {
  font-family: Shriklhand-R;
  font-size: 26px;
  margin: 0;
  height: fit-content;
}

.heart__box {
  margin: 5px 35px 0 0;
}
.heart__box .fa-heart {
  font-size: 24px;
}

.menu__part--box {
  width: 600px;
  min-width: 330px;
}

.menu__part {
  width: 300px;
  margin: 30px 0 0 20px;
  /* border-bottom: solid #99e2d0 2px;
  border-start-end-radius: 10px; */
}

hr {
  width: 40px;
  margin: 5px 0 0 20px;
  height: 5px;
  border: 0;
  background-color: #99e2d0;
}

.flex__menu {
  min-width: 330px;
  max-width: 100%;
  /* display: flex;*/
  /* flex-wrap: wrap; */
  /*justify-content: space-around; */
  margin: 10px 20px 0 20px;
  background-color: #f6f6f6;
}

.meal__box {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 15px 0;
  background-color: white;
  box-shadow: 3px 3px 3px lightgray;
}

.overbox__box {
  display: flex;
  width: 100%;
}

.overbox {
  text-align: center;
  /* display: none; */
  width: 0px;
  height: 0px;
  margin: 0 0 0 15px;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
}

.meal__box:hover .overbox {
  /* display: block; */
  animation: testanim 400ms forwards ease;
}

.meal__box:active .overbox {
  /* display: block; */
  animation: testanim 400ms forwards ease;
}

.fa-check-circle {
  visibility: hidden;
  margin: 20px 0;
  font-size: 2em;
  color: white;
}

.meal__box:hover .fa-check-circle {
  animation: circle 400ms forwards ease;
}

.meal__box:active .fa-check-circle {
  animation: circle 400ms forwards ease;
}

@keyframes circle {
  0% {
    visibility: visible;
    transform: rotate(180deg);
  }
  100% {
    visibility: visible;
  }
}
@keyframes testanim {
  from {
    height: 100%;
    width: 5%;
  }
  to {
    height: 100%;
    width: 30%;
  }
}
.overflow {
  width: 100%;
  height: 20px;
  margin: 0 0 0 10px;
  overflow: auto;
}

.meal__box--text {
  min-width: 50%;
  max-width: 250px;
  margin: 0 0 0 0;
}

.meal__description {
  font-family: Roboto-B;
}

.meal__description,
.meal__subdescription {
  padding: 0 0 0 0;
  margin: 0 0 0 15px;
}

.meal__box--price {
  padding: 0;
  margin: 20px 0 0 0;
  font-family: Roboto-B;
}

.submit__btn--menu {
  margin: 20px auto 0 auto;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.spinloader {
  height: 100%;
  max-width: 1440px;
  background: white;
  position: absolute;
  z-index: 1000;
  animation: load 3s;
  animation-fill-mode: forwards;
}

@keyframes load {
  0% {
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  30% {
    width: 100%;
    height: 100%;
    opacity: 100%;
  }
  95% {
    height: 100%;
    width: 100%;
    opacity: 80%;
  }
  98% {
    height: 100%;
    width: 100%;
    opacity: 10%;
  }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0%;
  }
}
/* Integrating and modifying loading spinner from : https://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  position: relative;
  top: 300px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9356dc;
  -webkit-animation: sk-foldCubeAngle 3s infinite linear both;
  animation: sk-foldCubeAngle 3s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.mb-1 {
  animation: box-fade 2s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-2 {
  animation: box-fade 4s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-3 {
  animation: box-fade 6s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-4 {
  animation: box-fade 8s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-5 {
  animation: box-fade 10s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-6 {
  animation: box-fade 12s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-7 {
  animation: box-fade 14s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-8 {
  animation: box-fade 16s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mb-9 {
  animation: box-fade 18s;
}

@keyframes box-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .img__restaurant {
    width: 1440px;
    height: 400px;
    margin: auto;
    object-fit: cover;
  }

  .logodiv__title--menu {
    margin-right: 300px;
    font-family: Shriklhand-R;
  }
}

/*# sourceMappingURL=styles.css.map */
