/* ---------------Footer section------------- */
// Nesting with Sass
footer {
  background-color: $xtradarkbackground;
  max-width: 100%;
  min-width: 330px;
  height: 200px;
  color: $link-on-dark;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 30px;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 5px 0;
    }
  }
}
