header {
  max-width: 100%;
  min-width: 360px;
  min-height: 60px;
  border-bottom: solid 3px rgb(214, 206, 206);
}
/* Localization section */
.section__localization {
  background-color: $softbackground;
  width: 100%;
  min-width: 360px;
  height: 50px;
}
// nesting with Sass
.form__localization {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  .localization__btn,
  .localization__field {
    border: none;
    background-color: $softbackground;
  }
}
