/* ---------Responsive part--------------- */
@media screen and (min-width: 425px) {
  .overflow {
    max-width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .img__restaurant {
    width: 7680px;
    height: 400px;
    margin: auto;
    object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .respon {
    margin-right: 350px;
  }
  .img__restaurant {
    width: 1440px;
    height: 400px;
    margin: auto;
    object-fit: cover;
  }
  .logodiv__title--menu {
    margin-right: 300px;
  }
}
/* --------End Responsive part------------- */
