//Variables
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$neutral: white;
$xtrasoftbackground: #f6f6f6;
$softbackground: #eaeaea;
$darkbackground: #faf8f81a;
$xtradarkbackground: #3b3b3b;
$link: black;
$link-on-dark: white;
$shadow: lightgrey;
$guidelinesHover: #e8dff3;
